body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

.App {
    display: flex;
    background-color: #444;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}